<!DOCTYPE html>
<html>
<head>
    <title>RFV</title>
    <script src="https://cdn.jsdelivr.net/npm/powerbi-client/dist/powerbi.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
</head>
<body class="dashboard-body">

    <a href="/dashboard" class="btn-voltar">⬅ Voltar</a>

<h1 style="padding:20px;">Desempenho Geral</h1>

<iframe width="100%" height="800"
    src="https://app.powerbi.com/groups/be7db635-eb69-4412-b6cf-1b7ba5cebb8c/reports/419aa449-2d1b-4497-8a6b-d8082c202cc6/97d96788c6c78ae05cb8?language=pt-BR&experience=power-bi">
</iframe>

</body>
</html>